pandas
pandas-ta
numpy==1.26.4
pytest
python-dotenv
scipy
fastapi
uvicorn[standard]
scikit-learn==1.2.2
kaggle
kagglehub
lightgbm
shap
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu